<h1>
  <span class="p-name">{{ resumeData.basics.name }}</span>
  |
  <!-- The h-card microformat doesn't have an official property for pronouns yet -->
  <a class="u-pronoun" href="https://pronouns.org/sharing">{{ resumeData.basics.pronouns }}</a>
</h1>