<!DOCTYPE html>
<html lang="{{ config.project_info.lang }}"
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="/favicon.ico" sizes="48x48" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/manifest.json" />

  <title>Résumé for {{ config.basics.name }}</title>

  <style>
    {% set css %}
    {% include "styles/tailwind.css" %}
    {% endset %}
    {{ css | postCss | safe }}
  </style>
</head>

<body>
  <div id="resume" class="bg-white dark:bg-slate-800 h-resume">
    <div id="basics_intro" class="p-contact h-card">
      <h1>
        <span class="p-name">{{ config.basics.name }}</span>
        |
        <!-- The h-card microformat doesn't have a property for pronouns -->
        <span class="p-note">{{ config.basics.pronouns }}</span>
        |
        <span class="p-locality">{{ config.basics.location.city }}</span>,
        <span class="p-region">{{ config.basics.location.region }}</span>,
        <span class="p-country-name">{{ config.basics.location.countryCode }}</span>
      </h1>
    </div>

    <div id="basics_contacts" class="flex flex-row flex-wrap">
      {%- for entry in config.basics.profiles %}
        <div class="flex-none bg-purple-500 w-1/4 min-w-80">
          <img src="{{ entry.icon }}" class="inline w-5 h-5" />
          <a class="p-contact h-card" href="{{ entry.url }}">{{ entry.username }}</a>
        </div>
      {%- endfor %}
    </div>
  
    <h2>Summary</h2>
    <div id="summary">
      <p class="p-summary">{{ config.basics.summary }}</p>
    </div>

    <h2>Professional Experience</h2>
    <div id="jobs">
      {%- for entry in config.work %}
        <div class="p-experience h-event">
          <div>
            <h4>
              <span class="p-name">{{ entry.name }}</span>
              <span class="p-location h-card">
                {%  if entry.location | isstring %}
                <span class="p-location">{{ entry.location }}</span>
                {% else %}
                <span class="p-location h-card">
                  <span class="p-locality">{{ entry.location.locality }}</span>,
                  <span class="p-region">{{ entry.location.region }}</span>,
                  <span class="p-country-name">{{ entry.location.countryCode }}</span>
                </span>
                {% endif %}
              </span>
              <span class="dt-start">{{ entry.startDate }}</span>-<span class="dt-end">{{ entry.endDate }}</span>
            </h4>
          </div>
          <div class="p-summary">{{ entry.position }}</div>
          <div class="p-description">
            <ul>
              {%- for highlight in entry.highlights %}
                <li>{{ highlight }}</li>
              {%- endfor %}
            </ul>
          <div>
        </div>
      {%- endfor %}
    </div>

    <h2>Hobbyist Experience</h2>
    <div id="hobbies">
      <ul>
        {%- for entry in config.interests %}
          <li class="p-skill">{{ entry.name }}</li>
        {%- endfor %}
      </ul>
    </div>

    <h2>Educational Experience</h2>
    <div id="education">
      {% for entry in config.education %}
        <div class="p-education h-event">
          <div>
            <h4>
              <span class="p-name">{{ entry.institution }}</span>
              <span class="p-location h-card">
                <span class="p-locality">{{ entry.location.locality }}</span>,
                <span class="p-region">{{ entry.location.region }}</span>,
                <span class="p-country-name">{{ entry.location.countryCode}}</span>
              </span>
              <span class="dt-start">{{ entry.startDate }}</span>-<span class="dt-end">{{ entry.endDate }}</span>
            </div>
          </h4>
          <div class="p-summary">
            Coursework in: {{ entry.courses | join(", ") | capitalize }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
